<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.devstories.starball_android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.android.vending.BILLING"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />


    <application
            android:name=".base.GlobalApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:usesCleartextTraffic="true"
            android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/ADMOB_APP_ID"/>
        <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version"/>

        <meta-data
                android:name="com.facebook.accountkit.ApplicationName"
                android:value="@string/app_name"/>
        <meta-data
                android:name="com.facebook.sdk.ApplicationId"
                android:value="@string/FACEBOOK_APP_ID"/>
        <meta-data
                android:name="com.facebook.accountkit.ClientToken"
                android:value="@string/ACCOUNT_KIT_CLIENT_TOKEN"/>

        <provider
                android:name="com.facebook.FacebookContentProvider"
                android:authorities="com.facebook.app.FacebookContentProvider249192249348195"
                android:exported="true"/>

        <activity
                android:name="com.facebook.FacebookActivity"
                android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
                android:label="@string/app_name"/>

        <activity
                android:name=".activities.FindPasswordActivity"
                android:theme="@style/NoTitleDialog"
                android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        <activity
                android:name=".activities.LoginActivity"
                android:theme="@style/NoTitleDialog"
                android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>

        <activity
                android:name=".activities.IntroActivity"
                android:theme="@style/NoTitleDialog"
                android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".activities.JoinActivity"
                android:theme="@style/NoTitleDialog"
                android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
                android:name=".activities.AgreeActivity"
                android:theme="@style/NoTitleDialog"
                android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
                android:name=".activities.JoinStep1PasswdActivity"
                android:theme="@style/NoTitleDialog"
                android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
                android:name=".activities.JoinStep2NameActivity"
                android:theme="@style/NoTitleDialog"
                android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
                android:name=".activities.JoinStep3GenderActivity"
                android:theme="@style/NoTitleDialog"
                android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
                android:name=".activities.JoinStep4HeightActivity"
                android:theme="@style/NoTitleDialog"
                android:windowSoftInputMode="adjustResize|stateAlwaysVisible"/>
        <activity
                android:name=".activities.JoinStep5BirthActivity"
                android:theme="@style/NoTitleDialog"
                android:windowSoftInputMode="adjustResize|stateAlwaysVisible"/>
        <activity
                android:name=".activities.JoinStep6LanguageActivity"
                android:theme="@style/NoTitleDialog"
                android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
                android:name=".activities.JoinStep7JobActivity"
                android:theme="@style/NoTitleDialog"
                android:windowSoftInputMode="adjustResize|stateAlwaysVisible"/>
        <activity
                android:name=".activities.JoinStep8SchoolActivity"
                android:theme="@style/NoTitleDialog"
                android:windowSoftInputMode="adjustResize|stateAlwaysVisible"/>
        <activity
                android:name=".activities.JoinStep9IntroActivity"
                android:theme="@style/NoTitleDialog"
                android:windowSoftInputMode="adjustResize|stateAlwaysVisible"/>
        <activity
                android:name=".activities.JoinStep10Activity"
                android:theme="@style/NoTitleDialog"
                android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
                android:name=".activities.JoinStep11PicActivity"
                android:theme="@style/NoTitleDialog"
                android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
                android:name=".activities.FindPictureGridActivity"
                android:theme="@style/NoTitleDialog"
                android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
                android:name=".activities.JoinStep12PreviewActivity"
                android:theme="@style/NoTitleDialog"
                android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
                android:name=".activities.CharmpointSettingAcitivity"
                android:theme="@style/NoTitleDialog"
                android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
                android:name=".activities.JoinResultActivity"
                android:theme="@style/NoTitleDialog"
                android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
                android:name=".activities.MainActivity"
                android:theme="@style/NoTitleDialog"
                android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
                android:name=".activities.MainSearchActivity"
                android:theme="@style/NoTitleDialog"
                android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
                android:name=".activities.CashRequestActivity"
                android:theme="@style/NoTitleDialog"
                android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
                android:name=".activities.CharmPointActivity"
                android:theme="@style/NoTitleDialog"
                android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
                android:name=".activities.WeMeetActivity"
                android:theme="@style/NoTitleDialog"
                android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
                android:name=".activities.ChattingActivity"
                android:theme="@style/NoTitleDialog"
                android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
                android:name=".activities.ChattingExActivity"
                android:theme="@style/NoTitleDialog"
                android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
                android:name=".activities.DailyMomentListActivity"
                android:theme="@style/NoTitleDialog"
                android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
                android:name=".activities.DailyMomentSubVIewListActivity"
                android:theme="@style/NoTitleDialog"
                android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
                android:name=".activities.DailyMomentViewListActivity"
                android:theme="@style/NoTitleDialog"
                android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
                android:name=".activities.EditProfileActivity"
                android:theme="@style/NoTitleDialog"
                android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
                android:name=".activities.EmailConnectActivity"
                android:theme="@style/NoTitleDialog"
                android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
                android:name=".activities.GroupChattingActivity"
                android:theme="@style/NoTitleDialog"
                android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
                android:name=".activities.PhoneCertiActivity"
                android:theme="@style/NoTitleDialog"
                android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
                android:name=".activities.PhoneCerti2Activity"
                android:theme="@style/NoTitleDialog"
                android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
                android:name=".activities.ReportActivity"
                android:theme="@style/NoTitleDialog"
                android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
                android:name=".activities.SaveJoinActivity"
                android:theme="@style/NoTitleDialog"
                android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
                android:name=".activities.SaveJoinCancleActivity"
                android:theme="@style/NoTitleDialog"
                android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
                android:name=".activities.SaveJoinOverActivity"
                android:theme="@style/NoTitleDialog"
                android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
                android:name=".activities.SearchSettingActivity"
                android:theme="@style/NoTitleDialog"
                android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
                android:name=".activities.SettingActivity"
                android:theme="@style/NoTitleDialog"
                android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
                android:name=".activities.SettingMainActivity"
                android:theme="@style/NoTitleDialog"
                android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
                android:name=".activities.StarballMemberShipActivity"
                android:theme="@style/NoTitleDialog"
                android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
                android:name=".activities.VVIPJoinActivity"
                android:theme="@style/NoTitleDialog"
                android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
                android:name=".activities.VersionActivity"
                android:theme="@style/NoTitleDialog"
                android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
                android:name=".activities.GrouptMakeActivity"
                android:theme="@style/NoTitleDialog"
                android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
                android:name=".activities.StarballPayActivity"
                android:theme="@style/NoTitleDialog"
                android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
                android:name=".activities.FriendChattingActivity"
                android:theme="@style/NoTitleDialog"
                android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
                android:name=".activities.DlgLogoutActivity"
                android:screenOrientation="unspecified"
                android:theme="@style/full_screen_dialog1"/>
        <activity
                android:name=".activities.DlgChattingActivity"
                android:screenOrientation="unspecified"
                android:theme="@style/full_screen_dialog1"/>
        <activity
                android:name=".activities.DlgAdverbDeleteConfirmActivity"
                android:screenOrientation="unspecified"
                android:theme="@style/full_screen_dialog"/>
        <activity
                android:name=".activities.DlgAlertCommonActivity"
                android:screenOrientation="unspecified"
                android:theme="@style/full_screen_dialog1"/>
        <activity
                android:name=".activities.DlgSecessionActivity"
                android:screenOrientation="unspecified"
                android:theme="@style/full_screen_dialog1"/>
        <activity
                android:name=".activities.DlgCharInfoActivity"
                android:screenOrientation="unspecified"
                android:theme="@style/full_screen_dialog1"/>
        <activity
                android:name=".activities.DlgSelectNationActivity"
                android:screenOrientation="unspecified"
                android:theme="@style/full_screen_dialog1"/>
        <activity
                android:name=".activities.DlgCharmpointActivity"
                android:screenOrientation="unspecified"
                android:theme="@style/full_screen_dialog1"/>
        <activity
                android:name=".activities.DlgSendProposeActivity"
                android:screenOrientation="unspecified"
                android:theme="@style/full_screen_dialog1"/>
        <activity
                android:name=".activities.DlgCrushActivity"
                android:screenOrientation="unspecified"
                android:theme="@style/full_screen_dialog1"/>
        <activity
                android:name=".activities.DlgStarballHistoryActivity"
                android:screenOrientation="unspecified"
                android:theme="@style/full_screen_dialog1"/>
        <activity
                android:name=".activities.DlgStarballLackActivity"
                android:screenOrientation="unspecified"
                android:theme="@style/full_screen_dialog1"/>
        <activity
                android:name=".activities.DlgAlbumPayActivity"
                android:screenOrientation="unspecified"
                android:theme="@style/full_screen_dialog1"/>
        <activity
                android:name=".activities.DlgProposeActivity"
                android:screenOrientation="unspecified"
                android:theme="@style/full_screen_dialog1"/>
        <activity
                android:name=".activities.DlgSelectLanguageActivity"
                android:screenOrientation="portrait"
                android:theme="@style/full_screen_dialog1"/>
        <activity
                android:name=".activities.ChatNotiActivity"
                android:screenOrientation="portrait"
                android:theme="@style/full_screen_dialog_no_dim"/>
        <activity
                android:name=".activities.MatchedActivity"
                android:screenOrientation="portrait"
                android:theme="@style/full_screen_dialog1"/>
        <activity
                android:name=".activities.StarballReceivedActivity"
                android:screenOrientation="portrait"
                android:theme="@style/full_screen_dialog1"/>
        <activity
                android:name=".activities.LikedNotiActivity"
                android:screenOrientation="portrait"
                android:theme="@style/full_screen_dialog_no_dim"/>

        <activity
                android:name="com.facebook.accountkit.ui.AccountKitActivity"
                android:theme="@style/AppLoginTheme"
                tools:replace="android:theme"/>

    </application>

</manifest>